extends layout

block meta
    meta(name="description", content="Rules as a Service")

block content
    .container
        h1= title
        +accordion("toc")
            +accordion-item-success("ToC","toc")
                .container


