extends layout

block meta
    meta(name="description", content="Rules as a Service")

block content
    .container
        h1= title
    .container
        hr
        .well
            p
                | Rules as a Service is an <strong>API that expose the world famous Rules engine JBOSS Drools as a service</strong> by making easy way to configure business rules and apply it to your custom business objects by configuring nothing more than a rules spreadsheet and invoking the proper validation API.
    .container
        +accordion("toc")
            +accordion-item-success("ToC","toc")
                .container


