extends ../layout

block body
    // Fixed navbar
    +navbar-fixed-logo("menu", null, "navbar", null, "/open-archi", "/images/open-archi.png", "#1E97C2")(width="90px", height="50px")
        block extra-menu-elements
        //+nav_item("/") Home
        //+nav_item("#") About
        //+nav_item("#") Contact
    block content