extends layout

block body
  header
    section.css-table
      section.one-column
        section.cell(style="display: inline-flex;")
          a.btn(href="/open-archi")
            h1.text-center(style="color: white; margin: 0px;") OpenArchi
        section.one-column
          section.cell(style="display: inline-flex;")
            h4(style="color: white; margin: 0px; vertical-align: bottom; padding-top: 0px; padding-right: 5px; float: right")= name
            a.btn.btn-danger(href='trivia') Go Back
  section#wrapper(style="background: white")
    block content