extends layout

block content
    .container
        .jumbotron.text-center
            h1
                span.fa.fa-lock
                | Open-Archi | Authentication
            form(action='/open-archi/login', name='answer', id='answer', method='post')
                section#answers.css-table(style="background: white; padding-bottom: 15px;")
                    section.cell
                        .col-sm-6(style='width: 100%; padding: 5px')
                            button.btn.btn-warning(type='button', style='width: 100%; white-space: unset; margin-top: 10px;')
                                p Login with:&nbsp;
                                span.fa.fa-google-plus
                                    | &nbsp;Google+
