extends layout

block content
	.container-fluid

		// Jumbotron
		.jumbotron(style="text-align: left")
				.row
					.col-sm-3
						+img-circle("/images/araguacaima-avatar.png")
					.col-lg-8
						h1.cover-heading About araguacaima
						+label-default("Solution Architect")
						| &nbsp;
						+label-primary("API Designer")
						| &nbsp;
						+label-danger("ScrumMaster")
						| &nbsp;
						+label-success("Senior Java Developer")
						| &nbsp;
						+label-warning("NodeJS Developer")
				.row
					.col
						p.lead
							| Based on the experience accumulated during my professional carrer for the companies
							| and organizations that I have accompanied in their processes of analysis, design,
							| construction and deployment of applications based on Java/Node platforms, I have been
							| fortunate to be able to contribute actively throughout all stages of development,
							| planning and management of the products, applications and associated technologies
							| that these organizations use to solve their business needs.
						p
							| To realize this goal, I make available the knowledge and management of a set of
							| specific and indispensable technologies and skills, as a contribution in all
							| aspects related to the chain of development, by joining together into Open Source
							| solutions, such as:
						p
							ul

								li Apache Shindig
								li AspectJ
								li Bonita BPM
								li Java
								li Google Apps Engine
								li Open Social
								li Jenkins
								li Javascript
								li HMTL 5
								li REST
								li Jboss AS
								li Drools
								li GateIn
								li Jquery
								li Maven
								li Mule ESB
								li NodeJS
								li Oracle Service Bus
								li Spring: Batch/Core/MVC/Security
								li WSO2
								li Design Patterns
								li Agile Methodologies: Scrum, TDD
								li Paradigms: SOA, OOP, COP, EDP, AOP
								li Patterns MVC and MVP
								li BPM
						p
							| I'm so glad to expose here some of my contributions to the open source community.
