extends layout

append styles
	style.
		body {
			height: 100%;
			background-color: #333;
		}

block content
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.inner.cover
					h1.cover-heading araguacaima
					+label-default("Solution Architect")
					+label-primary("API Designer")
					+label-danger("ScrumMaster")
					+label-success("Senior Java Developer")
					+label-warning("NodeJS Developer")
				.container-fluid
					.row
						.col-4
							+img-circle("/images/araguacaima-avatar.png")
						.col-8
							p
								| Based on the experience accumulated during my professional carrer for the companies and organizations that I have accompanied in their processes of analysis, design, construction and deployment of applications based on Java/Node platforms, I have been fortunate to be able to contribute actively throughout all stages of development, planning and management of the products, applications and associated technologies that these organizations use to solve their business needs.
							p
								| To realize this goal, I make available the knowledge and management of a set of specific and indispensable technologies and skills, as a contribution in all aspects related to the chain of development, by joining together into Open Source solutions, such as:
							p
								ul
									li Angular
									li Apache Shindig
									li AspectJ
									li Bonita BPM
									li EJB3
									li Flyway
									li Google Apps Engine
									li Open Social
									li Jenkins
									li Hibernate
									li HMTL 5
									li J2EE
									li JasperReports
									li Java SE
									li JAX-RS
									li JAX-WS
									li Jboss AS
									li Drools
									li GateIn
									li Jquery
									li JSP
									li JUnit
									li Maven
									li Mockito
									li Mule ESB
									li MySQL
									li Node
									li Oracle DB
									li Oracle Service Bus
									li Redmine
									li Shiro
									li Spring: Batch/Core/MVC/Security
									li Struts2-JQuery
									li TestNG
									li Weblogic
									li WSO2
									li Paradigm SOA
									li Design Patterns
									li Agile Methodologies: Scrum, TDD
									li Development paradigms: OOP, COP, EDP, AOP
									li Patterns MVC and MVP
									li BPM
							p
								| I'm so glad to expose here some of my contributions to the open source community.
							p
								| Feel free to contectme from any question or doubt
