extends layout

append styles
	// Custom styles for this template
	link(href='/stylesheets/blog.css', rel='stylesheet')

block content
	.container
		.blog-header
			.col-sm-3
				+img-circle("/images/araguacaima-avatar.png")(width="150", height="150")
			.col-lg-8
				h1.blog-title Contact araguacaima
	.container
		.row
			.col-lg-5
				form.form-group
					h2 Ask me
					label.sr-only(for='inputEmail') Email address
					input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
					label.sr-only(for='inputName') Name
					input#inputName.form-control(type='text', placeholder='Name', required='')
					label.sr-only(for='question') Your question
					textarea#question.form-control(required='', height="170px", width="auto")
					button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit
		.row
			.col-sm-8.blog-main
				.blog-post
					h2.blog-post-title Sample
					p.blog-post-meta
						| March 13, 2018 by
						a(href='#') John Doe
					p
						| How can I contribute to Open Archi?
					hr
					p
						strong R:&nbsp;
						| You just fork the github repo and place a Pull Request on develop branch
			.col-sm-3.col-sm-offset-1.blog-sidebar
				.sidebar-module.sidebar-module-inset
					h4 About
					p
						| Ask me what you want!
				.sidebar-module
					h4 Archives
					ol.list-unstyled
						li
							a(href='#') February 2018
