extends layout
block meta
    meta(name="description", content="OpenArchi Editor")
block scripts
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/autocomplete.css')
    script(src='/javascripts/go.js')
    script(type='text/javascript', src='/javascripts/diagrams/er.js')
    script(type='text/javascript', src='/javascripts/diagrams/tree.js')
    script(type='text/javascript', src='/javascripts/diagrams/components.js')
    script(type='text/javascript', src='/javascripts/diagrams/flowchart.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script#code(type="text/javascript")
    script.
        $(function () {
            var showMenuFlag = !{showMenu};
            if (showMenuFlag !== undefined && showMenuFlag !== null && showMenuFlag) {
                $.getScript("/javascripts/menu.js").done(function (script, textStatus) {
                    console.log(textStatus);
                    showMenu();
                }).fail(function (jqxhr, settings, exception) {
                        $("div.log").text("Triggered ajaxError handler.");
                });
            }
        });
block content
    div#sample