extends layout
block meta
    meta(name="description", content="OpenArchi Editor")
block scripts
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/autocomplete.css')
    script(src='/javascripts/go.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script#code(type="text/javascript")
    script.
        let myDiagram;
        $(function () {
            var showMenuFlag = !{showMenu};
            if (showMenuFlag !== undefined && showMenuFlag !== null && showMenuFlag) {
                $.getScript("/javascripts/menu.js").done(function (script, textStatus) {
                    showMenu();
                });
            }
        });
block content
    div#diagramsCanvas