extends layout
block meta
    meta(name="description", content="OpenArchi Editor")
block scripts
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/autocomplete.css')
    script(src='/javascripts/go.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script#code(type="text/javascript")
    script.
        let myDiagram;
        let MINLENGTH;  // this controls the minimum length of any swimlane
        let MINBREADTH;  // this controls the minimum breadth of any non-collapsed swimlane
        let HORIZONTAL;  // this constant parameter can only be set here, not dynamically
        let red = "orangered";  // 0 or false
        let green = "forestgreen";  // 1 or true

        $(function () {
            var showMenuFlag = !{showMenu};
            if (showMenuFlag !== undefined && showMenuFlag !== null && showMenuFlag) {
                $.getScript("/javascripts/menu.js").done(function (script, textStatus) {
                    showMenu();
                });
            }
        });
block content
    div#diagramsCanvas