extends layout

block scripts
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/autocomplete.css')
    script(type="text/javascript", src="https://rawgit.com/NorthwoodsSoftware/GoJS/master/release/go.js")
    script(type='text/javascript', src='/javascripts/diagrams/er.js')
    script(type='text/javascript', src='/javascripts/diagrams/tree.js')
    script(type='text/javascript', src='/javascripts/diagrams/components.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script#code(type="text/javascript")
    script.
        var dataArray = [];
        $(function () {
            initComponentsDiagram();
            $("#diagramId").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.get("/open-archi/api/models", {$filter: "name=='*" + request.term + "*'"})
                        .done(function (data) {
                            var models = [{id: "-1", value: "Select one..."}];
                            dataArray = data;
                            if (Array.isArray(data)) {
                                data.forEach(function (model) {
                                    models.push({id: model.id, value: model.name});
                                });
                                response(models);
                            } else {
                                response({});
                            }
                        });
                },
                select: function (event, element) {
                    var id = element.item.id;
                    $("#savedModel").html(dataArray.find(function (model) {
                        return model.id === id;
                    }));
                },
                // optional (if other layers overlap autocomplete list)
                open: function (event, ui) {
                    $(".ui-autocomplete").css("z-index", 1000);
                }
            }).on("click", function () {
                $(this).select();
            });
        });

block content
    div
        select#diagram-types-combo
            option(value="NONE") Seleccione uno
            each diagramType in diagramTypes
                option(value=diagramType)= diagramType
        select#diagram-views(onchange="switchDiagrams")
            option(value="DEFAULT") Default
            option(value="TREE") Tree
            option(value="ER") ER
        input#diagramId(name='diagramId', placeholder='Nombre del diagrama...')
        div#container
            div(style="width:100%; white-space:nowrap;")
                span(style="display: inline-block; vertical-align: top; width:105px")
                    div#palette(style="border: solid 3px grey; height: 620px")
                span(style="display: inline-block; vertical-align: top; width:80%")
                    div#diagrams(style="border: 0; height: 620px, float: left; width:100%; position: relative")
                        div#TREE_MODEL(style="border:0; width:100%; height:700px; float: left; ")
                        div#leafTreeDiagramContainer(style="float: right; width:100%; display: none")
                            div#diagramLeft(class="text-center")
                                div#leafTreeDiagram(style="border:solid 8px #2C2C29; width:100%; height:700px; float: left; background-color: rgba(255, 255, 255, 0.88);")
                        div#ENTITY_RELATIONSHIP_MODEL(style="border:0; width:100%; height:700px;")
            div
                div
                    button#saveButton(onclick="save()") Save
                    button#loadButton(onclick="load()") Load
                    | Diagram Model saved in JSON format:
                textarea#savedModel(style="width:100%;height:300px")
                    | {
                    |    "class":"go.GraphLinksModel",
                    |    "linkFromPortIdProperty":"fromPort",
                    |    "linkToPortIdProperty":"toPort",
                    |    "nodeDataArray":[
                    |       {
                    |          "category":"Comment",
                    |          "loc":"221.0000000000001 30.999999999999996",
                    |          "text":"Comentario...\n",
                    |          "key":-13
                    |       },
                    |       {
                    |          "key":0,
                    |          "loc":"-14 188",
                    |          "text":"Mobile"
                    |       },
                    |       {
                    |          "key":2,
                    |          "loc":"-12.999999999999943 128.00000000000009",
                    |          "text":"Web"
                    |       },
                    |       {
                    |          "key":3,
                    |          "loc":"203 189",
                    |          "text":"PFM\n"
                    |       },
                    |       {
                    |          "key":4,
                    |          "loc":"383.0000000000001 189.00000000000045",
                    |          "text":"Tercero\n"
                    |       },
                    |       {
                    |          "text":"BD",
                    |          "key":-2,
                    |          "loc":"402 101"
                    |       }
                    |    ],
                    |    "linkDataArray":[
                    |       {
                    |          "from":2,
                    |          "to":3,
                    |          "fromPort":"R",
                    |          "toPort":"T",
                    |          "points":[
                    |             10.840019226074276,
                    |             128.0000000000001,
                    |             20.840019226074276,
                    |             128.0000000000001,
                    |             203,
                    |             128.0000000000001,
                    |             203,
                    |             141.31227569580085,
                    |             203,
                    |             154.62455139160156,
                    |             203,
                    |             164.62455139160156
                    |          ]
                    |       },
                    |      {
                    |         "from":3,
                    |         "to":4,
                    |         "fromPort":"R",
                    |         "toPort":"L",
                    |         "points":[
                    |            226.97244262695312,
                    |            189,
                    |            236.97244262695312,
                    |            189,
                    |            287.5633506774903,
                    |            189,
                    |            287.5633506774903,
                    |            189.00000000000045,
                    |            338.15425872802746,
                    |            189.00000000000045,
                    |            348.15425872802746,
                    |            189.00000000000045
                    |         ]
                    |      },
                    |      {
                    |         "from":0,
                    |         "to":3,
                    |         "fromPort":"R",
                    |         "toPort":"L",
                    |         "points":[
                    |            17.71045684814453,
                    |            188,
                    |            27.71045684814453,
                    |            188,
                    |            98.3690071105957,
                    |            188,
                    |            98.3690071105957,
                    |            189,
                    |            169.02755737304688,
                    |            189,
                    |            179.02755737304688,
                    |            189
                    |         ]
                    |      },
                    |      {
                    |         "from":-2,
                    |         "to":4,
                    |         "fromPort":"B",
                    |         "toPort":"T",
                    |         "points":[
                    |            402,
                    |            117.43772430419921,
                    |            402,
                    |            127.43772430419921,
                    |            402,
                    |            141.0311378479006,
                    |            383.0000000000001,
                    |            141.0311378479006,
                    |            383.0000000000001,
                    |            154.624551391602,
                    |            383.0000000000001,
                    |            164.624551391602
                    |         ]
                    |      }
                    |   ]
                    | }