extends layout
block meta
    meta(name="description", content="OpenArchi")
block content
    div.table
        div.cell
            a(href='/open-archi/api')
                h2.element Apis
        div.cell
            a(href='/open-archi/editor')
                h2.element Editor