extends layout
block meta
    meta(name="description", content="OpenArchi")
block content
    div
        div.sticky(style="display: flex;")
            a(href="#")
                img(src='/images/OpenArchi.png', width='90', height='50', style="float: left;")
    div.table
        div.cell
            a(href='/open-archi/api')
                h2.element Apis
        div.cell
            a(href='/open-archi/editor/')
                h2.element Editor