extends layout

block content

    .container

        // Jumbotron
        .jumbotron(style="text-align: left")
            .container
                a(href="/open-archi")
                    +img-responsive-rounded("/images/open-archi.png","Open Archi", "margin-bottom: 20px; display: inherit")(width=200, height=120)

                p.lead
                    | <strong>Open Archi is a Social network for the management of enterprise architecture</strong>, including:
                    div.well
                        ul.lead
                            li Knowledge base of architectural components.
                            li Interrelation of business architecture elements (TOGAF and C4Model based Architecture Framework):
                                ul
                                    li Enterprise Architecture
                                    li Applications Architecture,
                                    li Data Architecture,
                                    li Technological Architecture
                            li Administration and interrelation of component thru DevOps.
                            li Automation of communication about its evolution.
                            li Ease of design of architectural models.
                            li Collaborative construction
                            li Automation of the application of business rules related to enterprise architecture
                p
                    a.btn.btn-lg.btn-success(href='/open-archi', role='button') View details »

        .jumbotron(style="text-align: right")
            .container
                a(href="/composite-specification")
                    +img-responsive-rounded("/images/composite-specification-full.png","Composite Specification", "margin-bottom: 20px; display: inherit")(width=240, height=110)
                br
                p.lead
                    | The <strong>Composite Specification pattern is a particular implementation of the "Specification" design pattern</strong>, whereby business logic can be recombined by stringing business logic together with Boolean logic..
                p
                    a.btn.btn-lg.btn-primary(href='/composite-specification', role='button') View details »

        .jumbotron(style="text-align: left")
            .container
                a(href="/raas")
                    +img-responsive-rounded("/images/raas.png","Rules as a Service", "margin-bottom: 20px; display: inherit")(width=150, height=125)
                br
                p.lead
                    | Rules as a Service is an <strong>API that expose the world famous Rules engine JBOSS Drools as a service</strong> by making easy way to configure business rules and apply it to your custom business objects by configuring nothing more than a rules spreadsheet and invoking the proper validation API.
                p
                    a.btn.btn-lg.btn-info(href='/raas', role='button') View details »

        .row
            .col-lg-4
                h2 Commons Utils
                p
                    | Common utilities is a set of java utilities for managing commmon actions when working with enums,
                    | files, exceptions, zip/jar files, classes (via Reflection), maps, numbers and so on.
                p
                    | Most of the utilities extend functionalities covered in amazing libraries like:
                p
                    ul
                        li commons-beanutils (apache)
                        li commons-lang3 (apache)
                        li commons-io (apache)
                        li commons-math3 (apache)
                        li commons-collections4 (apache)
                        li jreversepro (akkumar)
                p
                    a.btn.btn-primary(href='#', role='button') View details »
            .col-lg-4
                h2 Lorem ipsum
                p
                    | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                p
                    a.btn.btn-primary(href='#', role='button') View details »
            .col-lg-4
                h2 Lorem ipsum
                p
                    | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
                p
                    a.btn.btn-primary(href='#', role='button') View details »
        // Site footer
        footer.footer
            p © araguacaima 2018