doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.json-view.min.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/commons.js')    
    script(src='/javascripts/jquery.json-view.min.js')
    block scripts
  body
    block content

