extends main

append styles
    // Custom styles for this template
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.json-view.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700')
    link(rel='stylesheet', type='text/css', href='/stylesheets/navbar-fixed-top.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/justified-nav.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/tiny.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/fa-svg-with-js.css')

append scripts
    script(defer=true, src="/javascripts/fontawesome/fontawesome-all.js")
    script(src='/javascripts/commons.js')

block body
    // Fixed navbar
    +navbar-fixed-logo("Araguacaima site", null, "navbar", null, "/", "/images/amma-logo-full.png", "#1E97C2")(width="220px", height="50px")
        +nav_item_dropdown("#","active")(label="Open Source")
            +nav_item("/open-archi", "active") Open-Archi
            +nav_divider
            +nav_item("/composite-specification") Composite Specification
            +nav_item("/raas") Rules as a Service
        +nav_item("#") About
        +nav_item("#") Contact
    block content