extends ../layout

block body
    +navbar-fixed-logo("Composite-Specification", null, "navbar", null, "/composite-specification", "/images/composite-specification.png", "#1E97C2")(width="60px", height="50px")
        block extra-menu-elements
        +nav_item("/") Home
        +nav_item("#") About
        +nav_item("#") Contact
    block content